* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.headerMain {
  min-height: 70px;  
  background-color: #3a506b;
  color: rgba(255, 255, 255, 0.9) !important;
}

html {
  scroll-behavior: smooth;
}

.has-error {
  color: red;
}

.isValid{
  color: forestgreen;
  margin: 1% 2%;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}